
/*barra de menu desplegable*/
/* estilos generales*/  
/*Para Desktop*/
body{
    background-image: url("imagenes2/25.jpg");
}
header {
	margin-top:10px;
    width: 100%;
    overflow: hidden;
    height: 100px;
    position: relative;
    

}
 nav ul{
    list-style: none; /* para quitar las viñetas*/
    padding: 0; /* para quitarle la sangria y queden en una misma columna*/
    
}
nav li{
   line-height: 3rem;/* altura de linea */
   position: relative;
   font-size: 20px;
   font-family: sans-serif;
}  
nav li ul{
    position: absolute;
}
nav  a {
   color: floralwhite;
   display: block;
   padding: 0 2.5em;
   text-decoration: none; /* para quitar el subrayado*/
   transition: .4s;/* para que el cambio del sombreado no sea tan rapido*/
   

}
nav a:hover{
    background: greenyellow;
}


/*primer nivel*/
nav > ul{
  background:green ;
    display: table; /* un elemento tomelas dimensiones de su contenido*/
    width: 98%; /* para que tome el ancho de la pagina*/
    margin-left: 30px;


}
nav > ul li{  /* solo los hijos de los ul y nav */
    float: right; /* esto hace que se pongan horizontal */
    
}
/*segundo nivel */
nav li li{

    max-height: 0;/*su altura maxima sera 0*/
    transition: hidden;
    transition: all .4s;
    overflow: hidden;/*oculta todo lo que salga de las dimensiones del contenedor*/
    width: 200px;
}
nav li:hover >ul >li{
    max-height: 500px;
    overflow: visible;
}
nav >ul >li >ul{
    top:50%;
}

/* para agrandar o achicar el video  */
.video{
    width: 40%;
    height: 324px;
    margin-left: 720px;
    margin-right: -1000px;
    margin-top: -310px; /*margen para alinearlo desde arriba*/
    
}
   /*parrafos*/
p {
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-right:650px;
    text-align: left;
   

}
h1{ color:white;
    font-size: 20px; /*tamaño de las letras*/
    font-family: sans-serif; /*familia de la fuente*/
    margin-left: 25px;  /*margen de cuanto yo quiero que se mueva el texto hacia ese lado*/

}
.banner{
    margin-top:-10px; /*grosor del banner*/
    width: 300px; /*ancho*/
    height: 100px; /*alto*/
    position: absolute; /* Posicion para que se mantenga estatico*/
}

.personajes{
    margin-left: -20px; /*margen de cuanto yo quiero que se mueva el texto hacia ese lado*/
    -ms-flex-item-align: stretch;
}

 .showcharacters{
     
        width: 190%;
        height: 190%;
        display: inline-block; /*sirve para determinar que una imagen este al lado de la otra*/
        margin-right: 30px;
        margin-top: 30px;
        padding: 50px; /*margen entre una imagen y otra */
        text-align: center;
        font-size: 18px;  
        color: white;
 } 
 .myselect{
      color: #FFFFFF;
      font-size: 20px;
      font-family: sans-serif;
      margin-left: 25px;
 }
/*Responsive Ipad pro*/
/* 
@media only screen and (max-width:1367px) {
    body { 
        background-image: url("imagenes2/25.jpg");
    }
    
header{
    width:-100%;
    margin-right: 80%;
}
p{
    margin-left: 5%;
    margin-right: 0%;
    font-size: 30px;
}
h1{ 
    font-size: 30px; /*tamaño de las letras*/
   /* margin-left: 5%;  /*margen de cuanto yo quiero que se mueva el texto hacia ese lado*/
/*}
/*Responsive Iphone 6 7 8 plus

}
h1{ 
    font-size: 18px; /*tamaño de las letras*/
    /*margin-left: 10%;  /*margen de cuanto yo quiero que se mueva el texto hacia ese lado*/
/*}

.video{
    min-width: 80%;
    margin-left: 10%;
    margin-right: -30%;
    position: absolute;
    margin-top: 30px; /*margen para alinearlo desde arriba*/
      /*
}
.myselect{
    margin-left: 40px;
    margin-top: 10px;
    font-size:12px;
}
.banner{
    margin-top:10px; /*grosor del banner*/
    /*width: 45%; /*ancho*/
   /* position: absolute; /* Posicion para que se mantenga estatico*/
/*}
header > nav >ul >li >a{
font-size: 9px;
padding: 26px;
margin-top: 25px;

}
} */