
/*barra de menu desplegable*/
/* estilos generales*/  
 nav ul{
    list-style: none; /* para quitar las viñetas*/
    padding: 0; /* para quitarle la sangria y queden en una misma columna*/
}
nav li{
   line-height: 3rem;/* altura de linea */
   position: relative;
}  
nav li ul{
    position: absolute;
}
nav  a {
   color: floralwhite;
   display: block;
    padding: 0 2.5em;
    text-decoration: none; /* para quitar el subrayado*/
    transition: .4s;/* para que el cambio del sombreado no sea tan rapido*/

}
nav a:hover{
    background: greenyellow;
}
/* nav li ul{
   display: none; /* cualquier ul que este dentro de otro ul ocultarlo
}
nav li:hover >ul {
    display: block;
} */

/*primer nivel*/
nav > ul{
  background:green;
    display: table; /* un elemento tomelas dimensiones de su contenido*/
    width: 100%; /* para que tome el ancho de la pagina*/
}
nav > ul li{  /* solo los hijos de los ul y nav */
    float: left; /* esto hace que se pongan horizontal */
}
/*segundo nivel */
nav li li{
    background: green;
    max-height: 0;/*su altura maxima sera 0*/
    transition: hidden;
    transition: all .4s;
    overflow: hidden;/*oculta todo lo que salga de las dimensiones del contenedor*/
    width: 200px;
}
nav li:hover >ul >li{
    max-height: 500px;
    overflow: visible;
}
nav >ul >li >ul{
    top:100%;
}
/*tercer nivel*/
nav ul ul ul{
    left: 100%;
    top: 0;
}
sub { font-size: 50px;

}

/* parrafos*/


